* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.logo-top{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-black {
    color: #2e2f42;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.header-container{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
}

.header-logo {
    display: flex;
    gap: 76px;
    align-items: center;
}

.header-nav {
    gap: 40px;
}

.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
}

.header-link:hover,
.header-link:focus{
    color: #404bbf;
}

.header-link:active {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.header-address {
    font-style: normal;
}

.header-address-link {
    gap: 40px;
}

.address-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;    
}

.address-link:hover,
.address-link:focus{
    color: #404bbf;
}

.main-button-area{
    background-color: #2e2f42;
    padding: 188px 0;
}

.main-heading{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 48px;
}

.main-button {
    display: block;
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;    
    color: #ffffff;
    cursor: pointer;   
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.main-button:hover,
.main-button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: ыinset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.studio-list {
    gap: 24px;
    width: calc((100% - 72px) / 4);
}

.studio-list-line{
    width: calc((100% - 72px) / 4);
}

.studio-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.studio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.our-team-all-list{
    gap: 24px;
}

.our-team-list {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    text-align: center;
}

.team-name-and-desc{
    padding: 32px 0;    
}

.team-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    list-style: none;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    text-align: left;
}

.portofolio-name-and-desc {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.porfolio-names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color: #2e2f42;
    text-align: left;
    padding: 100px 0;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container {
    margin-left: 156px;
}

.logo-bottom {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
}

.logo-white{
    color: #f4f4fd;    
}

.footer-text{
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}